.file-loader {
    position: relative;
    border: dashed 1px #b3b3b3;
    border-radius: 3px;
    padding: 16px;

    .material-icons {
        &:hover {
            color: #999999;
        }
    }
}

.file-loader__data {

}

.file-loader__title {
    font-size: 24px;
    margin-right: 62px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.file-loader__description {
    font-size: 15px;
}

.file-loader__control-panel {
    position: absolute;
    top: 12px;
    right: 20px;
}

.file-loader__link {
    color: #0089ff;
    cursor: pointer;
}
