<ol>
    <li>
        <span>Select source XML file to update</span>
        <button class="btn btn-light" (click)="selectOutput()">Browse</button>
        <strong>{{xmlFile}}</strong>
        <br>
        <p>
            <em>I will synchronize this SCHEMA XML with target JSON file updated by developers</em>
        </p>
    </li>
    <li>
        <span>Select target JSON file</span>
        <button class="btn btn-light" (click)="selectInput()">Browse</button>
        <span>{{jsonFile}}</span>
        <p>
            <em>I will compare this JSON with SCHEMA XML and define delta for synchronization</em>
        </p>
    </li>
    <li>
        <span>Select language</span>
        <select class="form-control" 
                [(ngModel)]="selectedLanguage"
                [disabled]="!xmlFile || !jsonFile"
                (change)="onChangeLanguage()">
            <option *ngFor="let language of languages" [value]="language">{{language}}</option>
        </select>
        <p>
            <em>I will compare strings only on the selected language</em>
        </p>
    </li>
    <li>
        <span>Select product</span>
        <select class="form-control"
                [(ngModel)]="selectedProduct" 
                [disabled]="!selectedLanguage"
                (change)="onChangeProduct()">
            <option *ngFor="let product of products" [value]="product">{{product}}</option>
        </select>
        <p>
            <em>I will compare strings only for the selected product</em>
        </p>
    </li>
    <li>
        <button class="btn btn-dark" (click)="convertToXML()" [disabled]="!selectedLanguage || !selectedProduct">Synchronize data</button>
    </li>
</ol>