<div class="container-fluid">
    <ul class="nav nav-tabs">
        <li class="nav-item" *ngFor="let type of types">
            <a class="nav-link" 
               href="#" 
               [class.active]="selectedType == type.value"
               (click)="selectedType=type.value">
               {{type.title}}
            </a>
        </li>
    </ul>
    <app-to-xml [hidden]="selectedType !== conversionTypes.TO_XML"></app-to-xml>
    <app-to-json [hidden]="selectedType !== conversionTypes.TO_JSON"></app-to-json>
</div>