<div class="container-fluid">
    <ol>
        <li>
            <span>Select source file</span>
            <button class="btn btn-light" (click)="selectSourceFile()">Browse</button>
            <strong>{{ sourceFile }}</strong>
            <br>
            <p>
                <em></em>
            </p>
        </li>
        <li>
            <span>Select target file</span>
            <button class="btn btn-light" (click)="selectTargetFile()">Browse</button>
            <span>{{ targetFile }}</span>
            <p>
                <em></em>
            </p>
        </li>
        <li>
            <span>Select language</span>
            <select class="form-control"
                    [(ngModel)]="selectedLanguage"
                    [disabled]="!sourceFile || !targetFile"
                    (change)="onChangeLanguage()">
                <option *ngFor="let language of languages" [value]="language">{{language}}</option>
            </select>
            <p>
                <em>I will compare strings only on the selected language</em>
            </p>
        </li>
        <li>
            <span>Select product</span>
            <select class="form-control"
                    [(ngModel)]="selectedProduct"
                    [disabled]="!selectedLanguage">
                <option *ngFor="let product of products" [value]="product">{{product}}</option>
            </select>
            <p>
                <em>I will compare strings only for the selected product</em>
            </p>
        </li>
        <li>
            <button class="btn btn-dark"
                    (click)="unload()"
                    [disabled]="!selectedLanguage || !selectedProduct">
                Unload
            </button>
            <button class="btn btn-dark"
                    (click)="synchronize()"
                    [disabled]="!selectedLanguage || !selectedProduct">
                Synchronize
            </button>
        </li>
    </ol>
</div>
