<ol>
    <li>
        <span>Select source XML file</span>
        <button class="btn btn-light" (click)="selectInput()">Browse</button>
        <strong>{{xmlFile}}</strong>
        <p>
            <em>I will convert this SCHEMA XML file to JSON file</em>
        </p>
    </li>
    <li>
        <span>Select language</span>
        <select class="form-control" 
                [(ngModel)]="selectedLanguage"
                [disabled]="!xmlFile"
                (change)="onChangeLanguage()">
            <option *ngFor="let language of languages" [value]="language">{{language}}</option>
        </select>
        <p>
            <em>I will convert strings on the selected language only</em>
        </p>
    </li>
    <li>
        <span>Select product</span>
        <select class="form-control" 
                [(ngModel)]="selectedProduct" 
                [disabled]="!selectedLanguage"
                (change)="onChangeProduct()">
            <option *ngFor="let product of products" [value]="product">{{product}}</option>
        </select>
        <p>
            <em>I will convert strings of the selected product only</em>
        </p>
    </li>
    <li>
        <button class="btn btn-dark" 
                type="button"
                (click)="convertToJSON()" 
                [disabled]="!selectedLanguage || !selectedProduct">
            Select target folder &amp; Convert
        </button>
    </li>
</ol>

