.new-product__content {
    padding: 12px 24px;
}

.new-product__label {
    padding-bottom: 8px;
}

.new-product__input {
    outline: none;
    width: 300px;
    border: solid 2px #b2b2b2;
    background-color: transparent;
}

.new-product__header {
    font-size: 24px;
}

