<nav fxLayout="column" fxLayoutAlign="start stretch">
    <div class="navigation__item"
         routerLink="/general/recent-actions"
         routerLinkActive="active"
         fxLayout
         fxLayoutAlign="center center">
        <i class="material-icons">access_time</i>
    </div>

    <div class="navigation__item"
         routerLink="/general/replace"
         routerLinkActive="active"
         fxLayout
         fxLayoutAlign="center center">
        <i class="material-icons">swap_horiz</i>
    </div>

    <div class="navigation__item"
         routerLink="/general/sync"
         routerLinkActive="active"
         fxLayout
         fxLayoutAlign="center center">
        <i class="material-icons">sync</i>
    </div>

    <div class="navigation__item"
         routerLink="/general/settings"
         routerLinkActive="active"
         fxLayout
         fxLayoutAlign="center center">
        <i class="material-icons">settings</i>
    </div>

    <div class="navigation__item"
         routerLink="/general/help"
         routerLinkActive="active"
         fxLayout
         fxLayoutAlign="center center">
        <i class="material-icons">help_outline</i>
    </div>
</nav>
