<div fxLayout="column" fxFlexFill>
    <div class="replacement__content" fxLayout="column" fxLayoutGap="24px" fxFlex fxFlexFill>
        <conversion fxFlexFill (onChangeOptions)="onChangeConversionOptions($event)"></conversion>
    </div>

    <control-bar fxFlex="nogrow">
        <div class="control-bar__right">
            <button mc-button
                    color="primary"
                    fxLayout
                    fxLayoutAlign="space-between center"
                    [disabled]="!canConvert()"
                    (click)="convert()">
                Convert
            </button>
        </div>
    </control-bar>
</div>
